$coloreSfondo: #123456;  
$coloreSfondoChiaro: pink;  
$coloreTesto: white;
$marginSize: 12px;
$red: 255;
$green: 15;
$blue: 36;
$coloreCompleto: rgb($red,$green,$blue);
$borderSize: 12px;
$borderColor: pink;
$fontSize: 30px;